hotel.dtd

<!ELEMENT hotels (hotel+)>
<!ELEMENT hotel (classe, comune, provincia, stelle, nome, indirizzo, cap, telefono, email, sito_web)>
<!ELEMENT classe (#PCDATA)>
<!ATTLIST classe nome CDATA "Simone Arzuffi">
<!ELEMENT comune (#PCDATA)>
<!ELEMENT provincia (#PCDATA)> 
<!ELEMENT stelle (#PCDATA)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT indirizzo (#PCDATA)>
<!ELEMENT cap (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT sito_web (#PCDATA)>